{% extends 'base.html' %}
{% block content %}
  {% for blog in posts %}
          <h1>{{blog.title}}</h1>
          <p>{{blog.pub_date}}</p>
          <p>{{blog.summary}}<a href="{% url 'detail' blog.id %}">...more</a></p>
  {% endfor %}

  {% if posts.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{posts.previous_page_number}}">Previous</a>
  {% endif %}

  <span>{{posts.number}}</span>
  <span>of</span>
  <span>{{posts.paginator.num_pages}}</span>

  {% if posts.has_next %}
    <a href="?page={{posts.next_page_number}}">Next</a>
    <a href="?page={{posts.paginator.num_pages}}">Last</a>
  {% endif %}

  <br>
  <br>
  <div id="map" style="width:500px;height:400px;"></div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0cfc99678e0d6a744cc1c4f21b0da7e7"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng(37.599397,126.862954), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    var imageSrc = 'https://mblogthumb-phinf.pstatic.net/MjAxOTA1MTZfMTc0/MDAxNTU3OTg1ODYzNDc0.w5EGhdTbJ0WbKDr8dlb12D87pKn1ooAzEnXypE0hmIAg.oXtCmjPJZ8QyDRCFmXPSkfirvTdgLiSfrHgM_CcLMuEg.JPEG.kmu2333/231._%EA%B3%A0%EC%96%91_%ED%95%9C%EA%B5%AD%ED%95%AD%EA%B3%B5%EB%8C%80_%EB%A1%9C%EA%B3%A0.jpg?type=w800', // 마커이미지의 주소입니다    
        imageSize = new kakao.maps.Size(50, 50), // 마커이미지의 크기입니다
        imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
          
    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
        markerPosition = new kakao.maps.LatLng(37.599397,126.862954); // 마커가 표시될 위치입니다

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition, 
        image: markerImage // 마커이미지 설정 
    });

    //마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);     
  </script>
{% endblock %}